@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Quattrocento+Sans&display=swap')
	;

*{
	margin: 0;
	padding: 0;
	font-family: 'Quattrocento Sans', sans-serif;
	/*outline: auto;*/
	color: rgb(60, 95, 96);
}


/*-----------------------Header Style begin------------------*/
#header{
	background-color: transparent;
    position: absolute;
    width: 100%;
}

.header-container {
    height: 80px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
}

.logo {
    box-sizing: border-box;
    padding:5px;
    margin-top: 0px;
}

.logo:hover{
	cursor: pointer;
}

.searchbar {
    padding: 20px;
    border-radius: 10px;
}

.main-nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-nav a {
    color:rgb(60, 95, 96);
    text-decoration: none;
}

.main-nav a:hover {
    text-decoration: underline solid rgb(203, 167, 152) 3px;
}

.profile-login{
	display:flex;
	align-items:center;
	gap:30px;
}

.profile-login button {
  padding: 5px;
  border: 1px solid rgb(60, 95, 96);
  border-radius: 20px;
  font-size: 15px;
  background-color: transparent;
  transition: box-shadow 0.3s; /* Add transition for smooth effect */
}

.profile-login button:hover {
  box-shadow: 0 0 10px rgba(60, 95, 96, 0.3); /* Add shadow on hover */
  background-color: rgba(203, 167, 152,0.7);
  cursor: pointer;
}


.searchbar input[type=text]{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
     border: 1px solid #000000;
     color: rgb(60, 95, 96);
     width: 250px;
     height: 35px;
     font-size:15px;
     padding-left: 10px;
     background-color: transparent;
    }
.searchbar input[type=text]:focus {
     outline: none;
     border: 1px solid rgb(60, 95, 96);
     color: rgb(60, 95, 96);
}

/*-----------------------Header Style end------------------*/

/*-------------------------Main page style begin--------------*/

.site-image{
	background-image: url("../images/walper2.jpg");
	height:100%;
	width:100%;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 50px;
}

/*---------------Add new and Practice sections begin----------*/

.add-new{
	margin:auto;
	text-align:center;
	margin-bottom:100px;
	max-width: 1500px;
}

.row {
  width:100%;
  margin: 5% auto; /* shorthand for top/bottom margin 5% and horizontal margin auto */
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center the items horizontally */
  justify-content: space-between;
}


.add-elem {
    border-radius: 20px;
    padding:5px 5px;
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Add position relative for positioning absolute child */
	margin:10px;
}

.add-elem p {
    display: none; /* Hide the paragraph by default */
    position: absolute; /* Position the paragraph absolutely */
    bottom: 0px; /* Adjust as needed */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    transition: 0.5s; /* Transition effect */
    color:transparent;
}

.add-elem:hover{
	background-color:rgba(203, 167, 152,0.3);
	box-shadow: 0 0 20px 0px rgba(203, 167, 152,0.2);
}

.add-elem:hover p {
    display: block; /* Display paragraph on hover */
    bottom: 60px; /* Adjust as needed */
    color:  rgb(60, 95, 96);
    font-size:20px;
    font-style: bold;
}


.add-elem i,
    .add-elem p {
        display: inline-block; /* or inline */
        vertical-align: middle; /* to vertically align them */
    }

@media(max-width:1000px){
	
	.add-new{
	max-width: 600px !important;
	}
	.row{
	flex-direction: column;
	width:70%;
	}
}

/*---------------Add new, Practice sections end----------*/

/*-------------------------Main page style end--------------*/



/*-----------------------Add card page style start-------------*/

.container {
    height: 100vh; /* Set the height of the container to 100% of the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-new-card{
	margin:40px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.add-new-card p{
	color: rgb(203, 167, 152);
	font-size: 25px;
	font-weight: bold;
}

.add-new-card-form label{
	display:inline-block;
	width:200px;
	height:20px;
}

.add-new-card-form select {
    background-color: transparent;
    border: 2px solid rgba(60, 95, 96, 0.4);
    padding: 10px 20px;
    border-radius: 20px;
    width: 350px;
    height: 40px;
    font-size: 15px;

    /* For non-IE browsers */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
   
    /* Custom arrow styles */
    background-image: url('../images/dropdown-arrow.svg'); /* Replace 'path/to/arrow-icon.svg' with the actual path to your arrow icon */
    background-position: right 15px center; /* Adjust the position of the arrow */
    background-repeat: no-repeat;
    background-color: white;
   	color: rgb(60, 95, 96);
    background-size: 20px 20px;
}

.add-new-card-form select::-ms-expand {
    display: none; /* Hide the default arrow in IE */
}


.front, .back, .additional-imputs{
	display:flex;
	direction:row;
	align-items: center;
}

.type, .course, .folder, .front, .back, .additional-imputs{
	margin:20px;
}


#editableFront, #editableBack, #editableCorrect, #editableIncorrect {
	font-size:15px;
    border: 2px solid rgba(60, 95, 96, 0.4);
    border-radius: 20px;
	padding:10px 20px;
	margin-left:3px;
    min-height: 8px; /* Set a minimum height */
    width:310px;
    max-height: 500px; /* Set a maximum height */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds max-height */
}

.add-new-card-form .add-button{
	text-align: center;
}

.add-new-card-form .add-button input[type=submit]{
  padding: 5px;
  border: 1px solid rgb(60, 95, 96);
  border-radius: 20px;
  width:80px;
  height:40px;
  font-size: 15px;
  background-color: rgba(116, 179, 174, 0.3);
  transition: box-shadow 0.3s; /* Add transition for smooth effect */
}

.add-new-card-form .add-button input[type=submit]:focus {
  box-shadow: 0 0 10px rgba(60, 95, 96, 0.3); /* Add shadow on hover */
  background-color: rgba(203, 167, 152,0.7);
  cursor: pointer;
}

/*----------------------Add card page style end--------------*/


